* {margin: 0;padding:0}
h1 {font-family: 'patua one' , cursive;
font-size: 72px;margin-top: 28px;text-align:center; }
/* blah blah blah this is a comment */
body {
   background-color: yellow;

}
.image-item{height: 200px;background-color: purple}
