* {margin: 0;padding:0}
body {background-color:black;background-image: url("https://c1.staticflickr.com/9/8565/15786900410_0e19d8a5df_b.jpg"); background-repeat:no-repeat; background-attachment:inherit; background-position: center; background-size:contain;}
.layer {

}
h1 { font-family : Didot;
  font-size : 100px;
  letter-spacing : 2.5px;
  color : #b9d7ff; position:relative; justify-content: center;
}
h2{padding:10px;margin-top:20px;font-family : Akzidenz-Grotesk BQ;
  font-size : 30px;
  line-height : 20px;
  color : #ffa700
  ;}
  p {font-family : Akzidenz-Grotesk BQ;
  font-size : 16px;
  line-height : 20px;
  color : #000000;
  color : rgb(0, 0, 0);}
  h3{padding:10px;font-family : Akzidenz-Grotesk BQ;
  font-size : 20px;
  line-height : 20px;
  color : #000000;
  color : rgb(0, 0, 0);}
  .album{padding: 20px;background-color: #b9d7ff;}
